.animation-content{
    border: 1px solid gray;
    height: 100px;
    width: 200px;
    text-align: center;
    /* animation-name: changebackground; */
    animation-name: increasefontsize 5s infinite;
    /* animation-duration: 5s;
    animation-iteration-count: infinite; */
}

/* animation name */
@keyframes changebackground {
    from{
        background-color: black;
    }
    to{
        background-color: red;
    }
}

/* animation name */
@keyframes increasefontsize {
    /* from{
        font-size: 1rem;
    }
    to{
        font-size: 3rem;
        font-weight: 800;
    } */
    0%{
        font-size: 3rem;
        font-weight: 800;
    }
    25%{
        font-size: 3rem;
        font-weight: 800;
        background-color: rgb(98, 0, 255);
    }
    50%{
        font-size: 3rem;
        font-weight: 800;
        background-color: rgb(255, 0, 191);
    }
    75%{
        font-size: 3rem;
        font-weight: 800;
        background-color: rgb(242, 255, 0);
    }
    100%{
        font-size: 3rem;
        font-weight: 800;
        background-color: rgb(0, 255, 145);
    }
}