body{
    background: url(https://git.io/JUWOD);
}

#Astro_Girl{
    margin-bottom: 20px;
    /* position: relative; */
    position: absolute;
    left: 200px;
    top: 20px;
}

#Astro_Cartoon{
    margin-bottom: 20px;
    position: fixed;
    left: 200px;
    top: 200px;
}